<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weather_Station_Dashboard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Weather_Station_Dashboard.My.MySettings>
            <setting name="Temp" serializeAs="String">
                <value>°F</value>
            </setting>
            <setting name="Press" serializeAs="String">
                <value>in. Hg</value>
            </setting>
            <setting name="Period" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TUnits" serializeAs="String">
                <value>ms</value>
            </setting>
        </Weather_Station_Dashboard.My.MySettings>
    </userSettings>
</configuration>